@charset "utf-8";

@media (max-width: 416px) {

    body {
        width: 26em;
    }

    header {
        height: 8em;
        width: 26em;
    }

    .headerTop {
        height: 8em;
        width: 26em;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .headerTop > h1 {
        font-size: 3em;
        width: 7em;
        text-align: center;
    }
    
    nav {
        width: 26em;
        justify-content: space-around;
    }

    nav a {
        font-size: 30px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        width: 26em;
    }

    .box img {
        width: 200px;
        height: 100px;
    }
}