@mixin poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

@mixin poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

@mixin poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@mixin poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

@mixin poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}