@import "../../variaveis/variaveis.scss";
@import "../../variaveis/fonts.scss";


#tecnologias__container {
    margin: 20px 20px;

    .tecnologias__conteudo {
        display: flex;
        flex-wrap: wrap;


        h3 {
            margin-bottom: 10px;
            font-size: clamp(1.25rem, 3vw, 2rem);
            color: #797979;
            @include poppins-light;
        }

        .tec__header {
            display: flex;
            align-items: center2;
            flex-grow: 2;
            width: 100%;
            text-align: center;

            .cont {
                margin: 0 auto;
                h2 {
                    text-align: left;
                    @include poppins-bold;
                    font-size: clamp(1.5rem, 5.4vw , 2.5rem);
                    color: #006989;
                }
                p {
                    text-align: left;
                    color: #B3B3B3;
                    font-size: clamp(1rem, 3vw , 1.5rem);
                    @include poppins-light;
                }
            }
        }

        .tech__grp {
            flex-grow: 1;
            margin-left: 1.25rem;
            margin-top: 2.5rem;

            .tecnologias-icon {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
            }
        }

        .ferr__grp {
            flex-grow: 1;
            margin-left: 1.25rem;
            margin-top: 2.5rem;

            .ferramentas-icon {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
            }
        }
    }
}